<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_ICertService" maxReceivedMessageSize="67108864">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="https://127.0.0.1/CertService/CertService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICertService"
        contract="CertServer.ICertService" name="BasicHttpsBinding_ICertService" />
    </client>
  </system.serviceModel>

</configuration>